<div class="text-center">
  <h2>{{song}}</h2>
  <p>{{{artist}}}</p>
  <p>{{genre}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>

  <p>
    <button class="btn btn-primary">HERE ARE THE SONGS IN YOUR PERSONAL JUKEBOX!</button>
  </p>
</div>
